.contacts{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:30vh;
    justify-content: center;
    padding:10px;
}
.Email{
    height: 50px;
    width: 200px;
    background-color: rgb(10, 25, 47);
    border: 2px solid rgb(59, 151, 141);
    border-radius: 5px;
    color: rgb(59, 151, 141);
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.Email:hover{
    cursor: pointer;
    background-color: rgb(25, 58, 80);
  
}
.Email>a{
   text-decoration: none;
  color:rgb(59, 151, 141) ;
}
.contacts>h3{
    color: rgb(136, 146, 176);
 max-width:600px;
}
.contacts>h1{
    color: rgb(204,214,246);
 max-width:600px;
}
.cright{
    height: 50px;
    width:100%;
    position: relative;
    display: flex;
    margin-top:30px;
    justify-content: center;
    gap: 30px;
  }
  .cright>a> img{

     
    height: 50px;
    width:50px;
  
  
  
  }
  .account_link {
    display: flex;
    /* width:30%;/ */
    /* width: 250px; */
    /* justify-content: space-between; */
    color: rgb(136, 146, 176);
    margin-left: 10px;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .account_link >a> svg {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-top: 20px;
    stroke: rgb(136, 146, 176);
    cursor: pointer;
    fill: none;
  }
  
  .account_link >a> svg:hover {
    stroke: rgb(97, 218, 251);
    /* margin-left: 3px; */
    cursor: pointer;
    fill: rgb(97, 218, 251);
  }
  .account_link >a> svg:nth-child(3):hover {
    stroke: rgb(10, 25, 47);
  
  }